.tiptap p.is-editor-empty:first-child::before {
  /* biome-ignore  lint/correctness/noUnknownFunction : theme is supported by css and tailwindcss*/
  color: theme("colors.muted.foreground");
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap.ProseMirror {
  outline: none;
}
